* {
    padding: 5px;
}

header {
    background-color: #c50d66;
}

aside {
    height: 100%;
}

.wrapContainer {
    display: flex;
}

.allWeather {
    width: 80%;
}

#futureWeather {
    display: flex;
    justify-content: space-between;
}

.equalCard {
    width: 20%;
    margin: 10px;
}

.equalCard {
   background-color: #ffebeb;
}



