* {
    padding: 5px;
}

header {
    background-color: #c50d66;
}

aside {
    width: 35%;
    height: 100%;
}



.wrapContainer {
    display: flex;

}

.allWeather {
    width: 60%;
}

#futureWeather {
    display: flex;
    justify-content: space-around;
}

.equalCard {
    width: 20%;
}